<form>
  <span>Name: </span>
  <input type="checkbox" (click)="enabler()">
  <select #optionColor name="colors"[disabled]="isDisabled">
    <option  *ngFor="let color of colors">
      {{color}}
    </option>
  </select>

<hr>


<span>Change Class</span><br>
<select #optionClass multiple name="styles" (change)="addClass($event)">
  <option *ngFor="let class of classes" [value]="classes">
    {{class}}
  </option>
</select> <br>

<span>Press and hold CTRL to select multiple options</span>

</form>

<hr>

<span>Name: {{name}}</span>
<span [ngClass]="selectedClass" [ngStyle]="{'color':optionColor.value}">
  Color: {{optionColor.value}}
</span>
